pipeline/pl_copydata_adls_adls_usingmapping in copy activity.json
{
	"name": "pl_copydata_adls_adls_usingmapping in copy activity",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"description": "I am copy the data from one folder in adls to another folder in datalake and changing the column positions in the target storgae",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "data/input/"
								},
								{
									"name": "Destination",
									"value": "data/ouput/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_adls",
											"type": "LinkedServiceReference"
										},
										"path": "data/ouput"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 3
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 2
											}
										},
										{
											"source": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 3
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 4
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 4
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 5
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 6
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 6
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_source",
									"type": "DatasetReference",
									"parameters": {
										"inputfilename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_target",
									"type": "DatasetReference",
									"parameters": {
										"oupufilename": {
											"value": "@replace(item().name, 's.csv', '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filetype": {
				"type": "String"
			}
		},
		"annotations": []
	}
}